@charset "utf-8";

#main{
	margin:150px auto;
	width:1400px;
	display:flex;
	flex: 1 1 calc(20% - 30px);
	flex-wrap:wrap;
	gap:60px;
}
#innermain{
}

#name{
	font-weight:bold;
}
#img{
	border:1px solid #333;
}

#banner{
	display:flex;
	justify-content:center;
}




